@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
 --color-bg: #fff;
 --color-font: #000;
 --color-border: #000;
 --color-active: #ddd
}

@layer theme {
  :root, :host {
    @variant dark {
      --color-bg: #1d2021;
      --color-border: #fff;
      --color-active: #ddd;
      --color-font: #cccccc;
    }
  }
}

button {
  border: 1px solid var(--color-border);
  padding: .3rem 1rem .3rem;
}

button:hover {
  background-color: var(--color-bg);
  opacity: 0.9;
  cursor: pointer;
}

select:hover {
  cursor:pointer;
}


